<ion-view view-title="Gan Assurances : la pr&eacute;voyance individuelle" ng-app="ionicApp">
  <ion-content>
    <div class="profil"> <img class="bg-image_a" src="img/profil_4_1a_crop.png"> <img class="bg-image_b" src="img/profil_4_1b_crop.png">
      <div class="row responsive-sm"> 
        <!-- CONTENT CONTAINER -->
        <div class="col col-top" style="z-index:1"> 
          <!--CONTENT (Center) ROW 1 (Titre + Regime)-->
          <div class = "row responsive-sm light">
            <div class="col col-top" align="left"><span style="padding:0px; font-size:1.5em"><strong>Agents G&eacute;n&eacute;raux</strong></span></div>
            <div class="col col-bottom" align="center">
              <h1  style="letter-spacing:0.1em">Vos prestations</h1>
            </div>
            <div class="col col-top" align="right"><span style="padding:0px; font-size:1.5em"><strong>Votre r&eacute;gime</strong></span><br>
              <img src="img/logo_cavamac.png" style="height:75px; margin-top:10px;" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </div>
          <!--CONTENT (Center) ROW 1 (Titre + Regime)-->
          <div class = "row responsive-sm">
            <div class="col col-top" align="center"> </div>
          </div>
          <!-- CONTENT (Center) ROW 2-->
          <div class = "row responsive-sm">
            <div class="col col-top">
              <ion-list class="animate-ripple">
                <div class="row responsive-sm" style="text-align:center">
                  <div class="col animated fadeIn">
                    <div class = "row responsive-sm">
                      <div class="col col-top" align="center">
                        <button class="button button-positive" style="height:15em; width:15em; border-radius:10px; background-color:#E75113; align-content:center; line-height:1em;text-transform:none; cursor:default"><img src="img/ui_icons_a2.png" alt="" height="70%"/><br>
                        Arr&ecirc;t de travail</button>
                      </div>
                    </div>
                    <div class = "row responsive-sm" style="padding:0px 8%;" align="center">
                      <div class="col" style="" align="right"><a href="#/app/profil_4_6_A1" class="button3d pulsate2 new" style="background-color: #E75113;">40 K&euro;</a></div>
                      <div class="col" style="" align="center"><a href="#/app/profil_4_6_A2" class="button3d pulsate2 new" style="background-color: #E75113;">60 K&euro;</a></div>
                      <div class="col" style="" align="left" > <a href="#/app/profil_4_6_A3" class="button3d pulsate2 new" style="background-color: #E75113;">80 K&euro;</a></div>
                    </div>
                  </div>
                  <div class="col animated fadeIn">
                    <div class = "row responsive-sm">
                      <div class="col col-top" align="center">
                        <button class="button button-positive" style="height:15em; width:15em; border-radius:10px; background-color:#001E48; align-content:center; line-height:1em;text-transform:none; cursor:default"><img src="img/ui_icons_b2.png" alt="" height="70%"/><br>
                        Invalidit&eacute;</button>
                      </div>
                    </div>
                    <div class = "row responsive-sm" style="padding:0px 8%;" align="center">
                      <div class="col" style="" align="right"><a href="#/app/profil_4_6_B1" class="button3d pulsate2 new" style="background-color: #001E48;">40 K&euro;</a></div>
                      <div class="col" style="" align="center"><a href="#/app/profil_4_6_B2" class="button3d pulsate2 new" style="background-color: #001E48;">60 K&euro;</a></div>
                      <div class="col" style="" align="left" > <a href="#/app/profil_4_6_B3" class="button3d pulsate2 new" style="background-color: #001E48;">80 K&euro;</a></div>
                    </div>
                  </div>
                  <div class="col animated fadeIn">
                    <div class = "row responsive-sm">
                      <div class="col col-top" align="center">
                        <button class="button button-positive" style="height:15em; width:15em; border-radius:10px; background-color:#A9398A; align-content:center; line-height:1em;text-transform:none; cursor:default"><img src="img/ui_icons_c2.png" alt="" height="70%"/><br>
                        <span class="">D&eacute;c&egrave;s</span></button>
                      </div>
                    </div>
                    <div class = "row responsive-sm" style="padding:0px 8%;" align="center">
                      <div class="col" style="" align="right"><a href="#/app/profil_4_6_C1" class="button3d pulsate2 new" style="background-color: #A9398A;">40 K&euro;</a></div>
                      <div class="col" style="" align="center"><a href="#/app/profil_4_6_C2" class="button3d pulsate2 new" style="background-color: #A9398A;">60 K&euro;</a></div>
                      <div class="col" style="" align="left" > <a href="#/app/profil_4_6_C3" class="button3d pulsate2 new" style="background-color: #A9398A;">80 K&euro;</a></div>
                    </div>
                  </div>
                </div>
              </ion-list>
            </div>
          </div>
          <!-- END CONTENT (Center) Row 2--> 
          <!-- CONTENT (Center) Row 3-->
          <div class = "row responsive-sm">
            <div class="col col-bottom" align="center"> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-bottom" align="center"> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-bottom light" align="center">
              <h3 style="letter-spacing:0.1em">R&eacute;sum&eacute; des prestations selon vos revenus annuels</h3>
            </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-bottom" align="center"> </div>
          </div>
          <!-- END CONTENT (Center) Row 3--> 
          <!-- CONTENT (Center) Row 3-->
          <div class = "row responsive-sm">
            <div class="col col-top col-50 col-offset-25">
              <ion-list class="animate-ripple">
                <div class="row responsive-sm" align="center">
                  <div class="col animated fadeIn"> <a href="#/app/profil_4_6_D1" style="text-decoration: none;">
                    <div class="button-stable dark button-profil-resume pulsate2" style="height:7em; width:7em; border-radius:20px; "><img src="img/ui_icons_d.svg" width="50px" class="img-middle-resume"/>
                      <h5>40 000&euro;</h5>
                    </div>
                    </a> </div>
                  <div class="col animated fadeIn"> <a href="#/app/profil_4_6_D2" style="text-decoration: none;">
                    <div class="button-stable dark button-profil-resume pulsate" style="height:7em; width:7em; border-radius:20px;"><img src="img/ui_icons_d.svg" width="50px" class="img-middle-resume"/>
                      <h5>60 000&euro;</h5>
                    </div>
                    </a> </div>
                  <div class="col animated fadeIn"> <a href="#/app/profil_4_6_D3" style="text-decoration: none;">
                    <div class="button-stable dark button-profil-resume pulsate" style="height:7em; width:7em; border-radius:20px;"><img src="img/ui_icons_d.svg" width="50px" class="img-middle-resume"/>
                      <h5>80 000&euro;</h5>
                    </div>
                    </a> </div>
                </div>
              </ion-list>
            </div>
          </div>
          <!-- END CONTENT (Center) Row 3--> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
