<ion-view view-title="Gan Assurances : la pr&eacute;voyance individuelle" ng-app="ionicApp">
  <ion-content>
    <div class="profil"> <img class="bg-image_a" src="img/profil_4_1a_crop.png"> <img class="bg-image_b" src="img/profil_4_1b_crop.png">
      <div class="row responsive-sm"> 
        <!-- CONTENT CONTAINER -->
        <div class="col col-top" style="z-index:1"> 
          <!--CONTENT (Center) ROW 1 (Titre + Regime)-->
          <div class = "row responsive-sm light">
            <div class="col col-top" align="left"><span style="padding:0px; font-size:1.5em"><strong>Notaires</strong></span></div>
            <div class="col col-bottom" align="center">
              <h1  style="letter-spacing:0.1em">Vos prestations</h1>
            </div>
            <div class="col col-top" align="right"><span style="padding:0px; font-size:1.5em"><strong>Votre r&eacute;gime</strong></span><br>
              <img src="img/logo_crn.png" style="height:75px; margin-top:10px;" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </div>
          <!--CONTENT (Center) ROW 1 (Titre + Regime)-->
          <div class = "row responsive-sm">
            <div class="col col-top" align="center"> </div>
          </div>
          <!-- CONTENT (Center) Row 2-->
          <div class = "row responsive-sm">
            <div class="col col-bottom" align="center"> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-bottom" align="center"> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-bottom light" align="center">
              <h4 style="letter-spacing:0.1em">Le CRN ne g&egrave;re pas le r&eacute;gime obligatoire d’assurance invalidit&eacute; d&eacute;c&egrave;s.</h4>
              <h4 style="letter-spacing:0.1em">Le notariat confie la mise en place des garanties de pr&eacute;voyance &agrave; des courtiers.</h4>
              <h4 style="letter-spacing:0.1em">Ces contrats s’inscrivent dans un cadre national.</h4>
              <h4 style="letter-spacing:0.1em">Cependant, ces contrats peuvent varier selon les Chambres D&eacute;partementales.</h4>
              <h4 style="letter-spacing:0.1em"> Il convient donc d’&eacute;tudier le contrat personnellement souscrit.</h4>
            </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-bottom" align="center"> </div>
          </div>
          <!-- END CONTENT (Center) Row 2--> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
