<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-gan">
      <!--<ion-nav-back-button class="no-text">
            </ion-nav-back-button>-->
      
      <ion-nav-buttons side="left"> <a class="button" href="#/app/intro" style="margin:0px; padding:2px; background:none; position: absolute; display:block; right:45px; box-shadow:none"><img src="img/logo_expanded.svg" height="40px" width="40px"/></a> </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
      </ion-nav-bar>
      <button id="fab" class="button button-positive button-fab button-clear light button-fab-top-left" style="top:-7px;left:0px;"> <img src="img/ui_icons_profiles.svg" style="height:30px; width:30px;" class="img-middle"/> </button>
      <button id="fab2" class="button button-positive button-fab button-clear button-fab-top-left" style="top:-7px;left:40px;"> <img src="img/ui_icons_profiles2.svg" style="height:30px; width:30px;" class="img-middle"/> </button>
      <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>
      <ion-side-menu side="right">
        <ion-header-bar class="expanded"> <img src="img/logo_expanded.svg" class="avatar motion spin fade">
          <div class="menu-bottom">Assur&eacute; d'avancer</div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header" style="margin-top:-5px">
          <ion-list>
            <ion-item nav-clear menu-close> <a href="#/app/intro" style="text-decoration:none;line-height:28px;color:#333;">Accueil</a><br>
              <a href="#/app/profils" style="text-decoration:none;line-height:28px;color:#333;">Profils</a><br>
              <a href="#/app/profil_1" style="text-decoration:none;line-height:28px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; Artisans commer&ccedil;ants</a><br>
              <a href="#/app/profil_2" style="text-decoration:none;line-height:28px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; Artisans du batiment</a><br>
              <a href="#/app/profil_3" style="text-decoration:none;line-height:28px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; Exploitants agricoles</a><br>
              <a href="#/app/profil_4" style="text-decoration:none;line-height:28px;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; Professions liberales</a><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_1"  style="text-decoration:none;line-height:28px;color:#333; margin-top:-40px;">- Chirurgiens Dentistes</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_2"  style="text-decoration:none;line-height:28px;color:#333;">- Sages Femmes</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_3"  style="text-decoration:none;line-height:28px;color:#333;">- M&eacute;decins</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_4"  style="text-decoration:none;line-height:28px;color:#333;">- Infirmi&egrave;res Auxiliaires M&eacute;dicales</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_5"  style="text-decoration:none;line-height:28px;color:#333;">- V&eacute;t&eacute;rinaires</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_6"  style="text-decoration:none;line-height:28px;color:#333;">- Agents G&eacute;n&eacute;raux</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_7"  style="text-decoration:none;line-height:28px;color:#333;">- Experts Comptables</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_8"  style="text-decoration:none;line-height:28px;color:#333;">- Officiers Minist&eacute;riels</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_9"  style="text-decoration:none;line-height:28px;color:#333;">- Pharmaciens</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_10" style="text-decoration:none;line-height:28px;color:#333;">- Architectes Ing&eacute;nieurs<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_11" style="text-decoration:none;line-height:28px;color:#333;">- Avocats</a> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/app/profil_4_12" style="text-decoration:none;line-height:28px;color:#333;">- Notaires</a> <br>
              <a href="#/app/profil_4_12" style="text-decoration:none;line-height:28px;color:#333;">&Agrave; propos</a> </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
</ion-side-menus>