<ion-view view-title="Gan Assurances : la pr&eacute;voyance individuelle" ng-app="ionicApp">
  <div class="tabs-striped tabs-color-dark revenus">
    <div class="tabs stable dark">
      <h5 class="light bottom-bar-title">Choix du<br>
        revenu annuel :</h5>
      <a class="tab-item active" href="#/app/profil_4_4_D1"><i class="icon">40 000&euro;</i></a> <a class="tab-item" href="#/app/profil_4_4_D2"> <i class="icon">60 000&euro;</i></a> <a class="tab-item" href="#/app/profil_4_4_D3"> <i class="icon">80 000&euro;</i></a></div>
  </div>
  <ion-content>
    <div class="bar bar-subheader bar-stable static text-center"><strong class="title">R&eacute;sum&eacute; de vos prestations
      <button class="button-small button-calm en-savoir-plus" ng-click="openModal2()">En savoir plus<span class="icon-right ion-plus-circled en-savoir-plus-icon"></span></button>
      </strong></div>
    <div class="profil1">
      <div class="row responsive-sm"> 
        <!--LEFT BAR-->
        <div class="col col-top menu-left">
          <div class = "row responsive-sm" align="center">
            <div class="col col-top light"><a style="text-decoration: none" href="#/app/profil_4_4"> <img src="img/profil_4_4.png" class="left-menu-profil" alt="">
              <h6>Retour profil<br>
                Infirmi&egrave;res Auxiliaires M&eacute;dicales</h6>
              </a> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-top"> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-top" style="margin-top:-20px;"> <a href="#/app/profil_4_4_A1" class="button button-positive left-bar-button pulsate" style="background-color:#E75113; text-transform:none;"> <br>
              <br>
              Arr&ecirc;t de travail</a> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-top"> <a href="#/app/profil_4_4_B1" class="button button-positive left-bar-button pulsate" style="background-color:#001E48;text-transform:none"> <br>
              <br>
              Invalidit&eacute;</a> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-top"> <a href="#/app/profil_4_4_C1" class="button button-positive left-bar-button pulsate" style="background-color:#A9398A;text-transform:none"> <br>
              <br>
              D&eacute;c&egrave;s</a> </div>
          </div>
          <div class = "row responsive-sm">
            <div class="col col-top"> <a href="#/app/profil_4_4_D1" class="button button-stable left-bar-button pulsate" style="text-transform:none;"> <br>
              <br>
              R&eacute;sum&eacute;</a> </div>
          </div>
        </div>
        <!-- END LEFT BAR--> 
        <!-- CONTENT CONTAINER -->
        <div class="col col-top"> 
          <!--CONTENT (Center) ROW 1 (Titre + Regime)-->
          <div class = "row responsive-sm row-top">
            <div class="col col-top col-75" align="left">
              <h2 class="light">R&eacute;sum&eacute; de vos prestations</h2>
              <h3 class="light">Base annuelle 40 000€</h3>
            </div>
            <div class="col col-top light" align="right">
              <div class = "row responsive-sm">
                <div class="col col-top light" align="right"><span style="padding:0px; font-size:1.6em"><strong>Votre r&eacute;gime</strong></span><br>
                  <img src="img/logo_carpimko.png" style="width:130px;" alt=""/></div>
              </div>
            </div>
          </div>
          <!--CONTENT (Center) ROW 1 (Titre + Regime)-->
          <div class = "row responsive-sm">
            <div class="col col-top" align="center"> </div>
          </div>
          <!-- CONTENT (Center) ROW 2-->
          <div class = "row responsive-sm light" style="text-align:center; height:55px;">
            <div class="col col-75  col-top">
              <div class = "row responsive-sm">
                <div class="col col-top">
                  <h5>Vos revenus</h5>
                </div>
                <div class="col col-top">
                  <h5>Arr&ecirc;t de travail (IJ)</h5>
                </div>
                <div class="col col-top">
                  <h5>Invalidit&eacute; partielle</h5>
                </div>
                <div class="col col-top">
                  <h5>Invalidit&eacute; totale</h5>
                </div>
                <div class="col col-top">
                  <h5>Capital D&eacute;c&egrave;s</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class = "row responsive-sm">
                <div class="col"> </div>
              </div>
            </div>
          </div>
          <div class = "row responsive-sm light charts" id="charts" style="margin-top:5px; height:16.5em">
            <div class="col col-75 col-top">
              <div class = "row responsive-sm">
                <div class="col col-top">
                  <button class="button-full bar-positive border1" style="height:200px;">40 000&euro;</button>
                </div>
                <div class="col col-top">
                  <button class="button-full bar-assertive border2 animated flipInX" style="height:120px;">22 133&euro;</button>
                  <button class="button-full bar-calm border3" style="height:80px;">17 867&euro;</button>
                </div>
                <div class="col col-top">
                  <button class="button-full bar-assertive border2 animated flipInX" style="height:160px;">31 100&euro;</button>
                  <button class="button-full bar-calm border3" style="height:40px;">8 900&euro;</button>
                </div>
                <div class="col col-top">
                  <button class="button-full bar-assertive border2 animated flipInX" style="height:125px;">22 200&euro;</button>
                  <button class="button-full bar-calm border3" style="height:75px;">17 800&euro;</button>
                </div>
                <div class="col col-top">
                  <button class="button-full bar-assertive border2 animated flipInX" style="height:125px;">22 200&euro;</button>
                  <button class="button-full bar-calm border3" style="height:75px;">17 800&euro;</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class = "row responsive-sm row-center">
                <div class="col">
                  <button class="button button-full button-calm famille-bouton" id="animbar" ng-click="openModal()">E<span style="text-transform:none">t pour votre<br>
                  famille ?</span></button>
                  <script type="text/ng-template" id="my-modal2.html">
                    <ion-modal-view class="animated pulse popover3" ng-click="modal2.hide()">
                      <ion-header-bar style="padding:10px;text-align:center" class="bar bar-header bar-calm center">
                          <div class="light" style="font-size:1.3em;width:95%; text-align:left">Exemple</div><div style="width:5%"><button class="button-clear button-assertive ion-close-round"></button></div>
                      </ion-header-bar>
					  <ion-content class="padding">
						<div class = "row responsive-sm dark">
						  <div class="col">

							<h4>Exemple pour une infirmi&egrave;re, 35 ans, mari&eacute;e, non-fumeur, avec 1 enfant</h4>
							<h4>Revenu annuel : 60 000 &euro;</h4>
							
							<p style="line-height:2em"><strong>Gan AlterEgo Pr&eacute;voyance</strong> lui assure :
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;- un capital en cas d&eacute;c&egrave;s de <strong>120 000 &euro;</strong> (2 fois ses revenus annuels)<br>
							&nbsp;&nbsp;&nbsp;&nbsp;- des indemnit&eacute;s journali&egrave;res en cas d’incapacit&eacute; temporaire toutes causes de <strong>133 &euro;</strong> en compl&eacute;ment de la CARPIMKO, soit <strong>80%</strong> de ses revenus<br>
							&nbsp;&nbsp;&nbsp;&nbsp;- une rente en cas d’invalidit&eacute; de <strong>1 300 &euro;</strong> mensuelle (en compl&eacute;ment de la CARPIMKO)<br>
							&nbsp;&nbsp;&nbsp;&nbsp;- une rente conjoint de <strong>500 &euro;</strong> et une rente &eacute;ducation de <strong>800 &euro; (mensuelles)</strong>
							<br>
							pour une cotisation mensuelle de 100,97 &euro; <strong>dont 88,98 &euro; seront d&eacute;ductibles dans le cadre de la loi Madelin.</strong></p>
							<button class="button button-positive button-raised icon-left ion-checkmark-circled" style="color:white; float:right; right:10px; top:330px; position:fixed; display:block" ng-click="modal2.hide()"> Retour</button>	
						  </div>						  
						</div>
                       </ion-content>
                  </ion-modal-view>
                  </script>
                  <script id="my-modal.html" type="text/ng-template">
                    <ion-modal-view class="animated pulse popover2" style="width:31%" ng-click="closeModal()">
                      <ion-header-bar style="padding:10px;text-align:center" class="bar bar-header bar-calm center">
                          <div class="light" style="font-size:1.3em;width:92%; text-align:left">Et pour votre famille ?</div><div style="width:8%"><button class="button-clear button-assertive ion-close-round"></button></div>
                      </ion-header-bar>
					  <ion-content class="padding">
						<div class = "row responsive-sm dark" style="height:55px">
						  <div class="col">
							<div class = "row responsive-sm">
							  <div class="col col-50" align="center">
								<h5>Rente conjoint</h5>
							  </div>
							  <div class="col col-50" align="center">
								<h5>Rente &eacute;ducation</h5>
							  </div>
							</div>
						  </div>
						</div>
						<div class = "row responsive-sm light">
						  <div class="col">
							<div class = "row responsive-sm">
							  <div class="col col-50">
								<button class="button-full bar-assertive border2 border2b" style="height:160px">31 100&euro;</button>
								<button class="button-full bar-calm border3" style="height:40px;">8 900&euro;</button>
							  </div>
							  <div class="col col-50">
								<button class="button-full bar-assertive border2 border2b" style="height:170px">33 325&euro;</button>
								<button class="button-full bar-calm border3" style="height:30px;">6 675&euro;</button>
							  </div>
							</div>
						  </div>
						</div>				
                       </ion-content>
                  </ion-modal-view>
                  </script> 
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT (Center) Row 2--> 
          <!-- CONTENT (Center) Row 3-->
          <div class = "row responsive-sm">
            <div class="col col-top" align="center" style="height:1.5em; margin-top:0px"> </div>
          </div>
          <!-- END CONTENT (Center) Row 3--> 
          <!-- CONTENT (Center) Row 4-->
          <div class = "row responsive-sm light">
            <div class="col light col-10" style="padding-top:20px; padding-left:10px" align="left"> </div>
            <div class="col col-60" style="padding-top:20px;" align="left">
              <div class = "row responsive-sm" style="margin-left:-15px">
                <div class="col-col-10" align="left"><img src="img/ui_icons_warning.svg" height="32px" style="vertical-align:middle;"></div>
                <div class="col col-90" style="padding-left:20px;" align="left">Aucune prise en charge de vos frais professionnels par votre r&eacute;gime obligatoire.</div>
              </div>
            </div>
            <div class="col col-top col-40 legende">
              <div class = "row responsive-sm">
                <div class="col">
                  <div class = "row responsive-sm row-center">
                    <div class="col col-10"><span class="legende2 bar-positive"></span> </div>
                    <div class="col col-90">&nbsp;&nbsp;Vos revenus </div>
                  </div>
                  <div class = "row responsive-sm row-center">
                    <div class="col col-10"><span class="legende2 bar-calm"></span> </div>
                    <div class="col col-90">&nbsp;&nbsp;Votre R&eacute;gime Obligatoire </div>
                  </div>
                  <div class = "row responsive-sm row-center">
                    <div class="col col-10"><span class="legende2 bar-assertive"></span> </div>
                    <div class="col col-90">&nbsp;&nbsp;Votre perte de revenus </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT (Center) Row 4--> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
